body {
background-color: floralwhite;
font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(161, 33, 33);
    
}

.code-header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.code-input{
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius:2px;   
    padding: 10px;  
    box-sizing: border-box;
    height: 70vh;
    resize: none;
    
}

.submit-code{
    display: flex;
    justify-content: center;

}

.submit-button{
    width: 10%;
    background-color: rgb(154, 244, 154);
    border-color: rgb(63, 61, 61);
    border-radius: 8px;   
    cursor: pointer;   
    margin: 2px;
    
}

.hidden{
    display: none;
}
#resultsHeader{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(161, 33, 33);
}
#output {
    width: 60%;
    margin: 10px auto;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 2px;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
    box-sizing: border-box;
}